@using MyNurseApp.Web.ViewModels.Manipulations
@model IEnumerable<MedicalManipulationsViewModel>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var manipulation in Model)
        {
            <tr>
                <td>@manipulation.Name</td>
                <td>@manipulation.Description</td>
                <td>@manipulation.Price.ToString("C")</td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <form asp-action="EditManipulation" asp-route-id="@manipulation.Id" method="get" style="display:inline;">
                            <button class="btn btn-warning btn-sm" type="submit">Edit</button>
                        </form>
                        <form asp-action="RemoveManipulation" asp-route-id="@manipulation.Id" method="post" onsubmit="return confirm('Are you sure you want to delete this user?')" style="display:inline;">
                            <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                        </form>
                    }
                    else
                    {
                        <form asp-action="AddToSelection" asp-route-id="@manipulation.Id" method="post" style="display:inline;">
                            <button class="btn btn-primary btn-sm" type="submit">Choose</button>
                        </form>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
