@model MyNurseApp.Web.ViewModels.PatientProfile.PatientProfileViewModel

<h2>Patient Profile</h2>

<div>
    <h3>Your Profile</h3>
    <p><strong>Name:</strong> @Model.FirstName @Model.LastName</p>
    <p><strong>Date of birth:</strong> @Model.DateOfBirth</p>
    <p><strong>Address:</strong> @Model.HomeAddress</p>
    <p><strong>Phone:</strong> @Model.PhoneNumber</p>
    <p><strong>Emergency contact name:</strong> @Model.EmergencyContactFullName</p>
    <p><strong>Emergency contact phone number:</strong> @Model.EmergencyContactPhone</p>
    <p><strong>Notes:</strong> @Model.Notes</p>
</div>

<div>
    <a asp-action="EditPatientProfile" asp-controller="PatientProfile" asp-route-id="@Model.Id" class="btn btn-warning">Edit Profile</a>
</div>